.side-buttons {
    border: 1px solid #D2D2D2;
    padding-top: 5px;
    padding-bottom: 10px;
    /* justify-content: space-between; */
    height: 450px;
    margin-top: 20px;
  }
  
  .side-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
      margin-bottom:10px
  }
  .side-button:hover {
    background-color: #E6EABC;
  }
  .side-button.active {
    background-color: #C2C788;
  }