.faq-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    margin-left: 20px;
  }
  .page-title{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .page-title-text{
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
  }
  .faq-question {
    display: flex;
    justify-content: space-between;
    background-color: #A8BD98;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    color: white;
    /*transition: background-color 0.3;*/
    border-radius: 15px;
    margin-bottom: 5px;
    height:10vh;
    align-items: center;
  }
  
  .faq-question:hover {
    background-color: #d0d698;
  }
  
  .faq-question.active {
    background-color: #C2C788;
  }
  
  .indicator {
    float: right;
    font-size: 24px;
    line-height: 24px;
  }
  
  .indicator.active {
    transform: rotate(45deg);
    transition-duration: 0.3s;
  }
  
  .faq-answer {
    font-size: 16px;
    width:100%;
    opacity: 0; /* Set initial opacity to 0 */
    max-height: 0; /* Collapse the space */
    overflow: hidden; /* Hide the content */
    transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
  }
  
  .faq-answer.visible {
    padding: 10px;
    opacity: 1;
    max-height: 1000px;
    border: 1px solid #C2C788;
    border-radius: 25px;
    margin-bottom: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
  }

/*border: 1px solid #C2C788;*/