.navbar {
  /*background-color: #378b29;*/
  /*background-image: linear-gradient(315deg, #378b29 0%, #74d680 74%);*/
  background: linear-gradient(to right, #F8F5EE, #D9DAD3);
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  /*background: none;*/
  color:#495D44;
  /*background-color: #495D44;*/
}

.nav-menu {
  /*background-color: #efe48b;*/
  background: linear-gradient(to bottom, #F8F5EE, #D9DAD3);
  width: 250px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 2000;

}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #495D44;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;

  border-radius: 4px;
}

.nav-text a:hover {
  background-color: white;
}

.nav-menu-items {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.navbar-toggle {
  background-color: #feca57;
  background-image: linear-gradient(315deg, #feca57 0%, #d3d3d3 74%);

  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
/* NavBar.css */

.icons {
  color: #495D44; /* Set the color of the icons to black */
}
.nav-text {
  font-size: 400px;
}
