.tags {
  display: flex;
  font-size: 15px;
  font-family: Inter;
  /* color: white; */
  /* margin-top: 10px; */
  /* padding: 10px; */
}

.tagsBars{
  /* background-color: #89B84A; */
  background: linear-gradient(to right, #73A9AD 10%, #90CBAC 70%, #c4dfaa 100%);
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  margin: 0px 10px 10px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #fff;
}


.tagsBars-Expenses{
  /* background-color: #E1B51C; */
  background: linear-gradient(to right, #FBA884 20%, #EEC535 80%, #F9DC74 100%);
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  margin: 0px 10px 10px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #fff;
}

.transaction-summary-container {
  display: flex;
  flex-direction: flex-start;
  margin-top: 20px;
}

.select-box{
  padding: 5px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #9FC173;
  color: #fff;
  cursor: pointer;
}

.select-box:hover {
  border-color: #808E7C;
  background-color: #808E7C;
}

.select-box:focus {
  outline: none;
  border-color: #8d8571;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* Style the options */
.select-box option {
  background-color: #f9f9f9;
  color: #333;
}

.select-box option:hover {
  background-color: #ccc;
}

.select-page, .select-pageCrop {
  /* width: 100px; */
  padding: 5px;
  margin: 10px 0px 0px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #9FC173;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  padding-bottom:10px
}
.select-page:hover, .select-pageCrop:hover {
  border-color: #CED581;
  background-color: #808E7C;
}

.select-page:focus, .select-pageCrop:focus {
  outline: none;
  border-color: #CED581;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.select-page option, .select-pageCrop option {
  background-color: white;
  color: #333;
  font-size: 22px;
}

.select-page option:hover, .select-pageCrop option:hover {
  background-color: #ccc;
}

.summary-title{
  color: #495D44;
  margin: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size:40px
}

.summary-graphs {
  display: flex;
  padding: 20px;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  gap: 40px;
  /* background-color: red; */
}
.summary-pie-chart {
  /* display: flex; */
  width: 40%;
  /* align-items: center; */
  padding-top: 25px;
  padding-bottom: 5px;
  border: 1px solid #D2D2D2;
  border-radius: 25px;
  box-shadow: 5px 8px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.summary-bar-chart {
  display: flex;
  width: 50%;
  align-items: center;
  padding-top: 25px;
  border:1px solid #D2D2D2;
  border-radius: 25px;
  box-shadow: 5px 8px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.add-transaction {
  display: flex;
  margin-left: auto;
}

.transaction-table {
  /* border: 1px solid #D2D2D2; */
  border-radius: 5px;
  background-color: red;
  /* box-shadow: 5px 8px 30px rgba(0, 0, 0, 0.2); */
  margin-bottom: 20px;
}
