.encyclopedia {
  display: flex;
  gap: 30px;
  width: 90%;
}

.encyclopedia-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.content{
  width: 100%;
  justify-content: center;
  align-items: center;
}

.encyclopedia-content {
  display: flex;
}

.crops-container {
  width: 100%;
}
.crop-card-header {
  display: flex;
  background-color: #8BA766;
  /*background-color: rgba(169, 136, 17, 0.6);*/
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  align-items: center;
  font-size: 17px;
  margin-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  color:white;
  height:40px;
}
.number-header {
  font-weight: bold;
  color:white;
  /*color: #333;*/
  text-align: left;
  width: 5%;
}
.name-stack-header {
  font-weight: bold;
  width: 40%;
}
.other-names-header {
  font-weight: bold;
  align-items: center;
  width: 40%;
}
.image-header {
  font-weight: bold;
  border-radius: 4px;
  width: 15%;
}
