body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  color: #333333;
  background-color: #fff; /* White background */
}

/* .h2-soil {
  color: #27ae60;
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 20px;
} */

.soil-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* White background */
  border-radius: 9px;
  border: 2px solid #d2d2d2;
  padding: 10px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  height: 80%;
  overflow-y: auto;
  width: 100%;
  z-index: 1000;
}

.soil-modal-content {
  text-align: left;
}

.heading1 {
  margin: 5px 0px 0px 5px;
  font-weight: bold;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: #777;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover {
  color: #333;
}

.h2-soil {
  color: #333;
  margin-bottom: 30px;
  font-size: 24px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.tabs button {
  border: transparent;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  background-color: #9fc173;
  margin: 3px;
  width: 250px;
  height: 100px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.tabs button:hover {
  background-color: #a4cb70;
  color: #3f4736;
  opacity: 90%;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.tabs button.active {
  background-color: #83a458;
  color: white;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
}

.labelTitle-soil {
  display: block;
  font-weight: bold;
  color: #444;
  /* margin-left: 30px; */
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 18px;
  width: 150px;
}

.input {
  width: 300px;
  padding: 10px;
  border: 1.5px solid #d2d2d2;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 400;
}
.input:focus {
  transition: width 0.3s ease, border-color 0.3s ease; /* Add transition for width and border-color */
  border-color: #a4cb70; /*Change border color when focused*/
  border-width: 1.5px;
  /* border: #A4CB70; */
  outline: #a4cb70;
}

.Allform button[type="submit"] {
  background-color: #8ba766; /* Button background color */
  color: #fff; /* Text color */
  padding: 10px; /* Padding around the text inside the button */
  border: none; /* Remove border */
  border-radius: 4px; /* Rounded corners */
  font-size: 15px; /* Font size */
  cursor: pointer; /* Cursor pointer */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  width: 100%;
}

.Allform button[type="submit"]:hover {
  background-color: #495d44; /* Button background color */
}

.radio-group {
  display: flex;
  gap: 10px;
}

.radio-group label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #3f4736;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 8px;
  transition: border-color 0.3s ease;
}

.radio-group input[type="radio"]:checked + label::before {
  border-color: #83a458;
  background-color: #83a458; /* Green color for checked radio button */
}

.radio-group input[type="radio"]:focus + label::before {
  box-shadow: 0 0 0 3px rgba(46, 204, 113, 0.2);
  background-color: #2ecc71;
}
